name: flujoTrabajo1
on: [push]  # Evento que dispara el flujo de trabajo

jobs:
  prueba1:
    runs-on: ubuntu-latest
    steps:
      - name: mensaje
        run: echo "primera interaccion con git actions"

      - name: Crear Archivo
        run: touch alumnos.txt